.section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: gray;
    border-radius: 12px;
    padding: 12px;
}
.work__name{
    display: flex;
    font-size: 30px;
    padding-left: 20px;
    color: rgb(41, 41, 41);
    flex-direction: column;
}
.nums{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    margin-top: 20px;
}
.num{
    display: flex;
    flex-direction: column;
    width: 520px;
    background-color: rgb(57, 57, 57);
    border-radius: 12px;
    padding: 12px;
}
.num__name{
    display: flex;
    padding-left: 20px;
    font-size: 20px;
}



.num__case{
    display: flex;
    width: 100%;
    padding: 0 5% 0 5%;
    margin-top: 20px;
    column-gap: 20px;
    margin-bottom: 20px;
}
.case__img{
    width: 40%;
}
.case__p{
    font-size: 25px;
}

.num__ans{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5% 0 5%;
    row-gap: 10px;
}
.ans__sol{
    color: rgb(183, 183, 183);
}
.ans__input{
    display: flex;
    column-gap: 70px;
}
.ans__file{
    border-radius: 0px;
}
.form__submit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.submit{
    display: flex;
    width: 200px;
    height: 50px;
    font-size: 24px;
}
.txt__input{
    display: flex;
    height: 10%;
    
    &:focus{
        box-shadow: none;
    }
}
.check__txt, .check__img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.check{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-left: 40px;
}
.ch__p{
    background-color: black;
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 12px;padding: 2px;
}
.check1{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-right: 20px;
    width: 70px;
}
.check__txt{
    width: 100%;
}
.ans__check{
    width: 100%;
}