.section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: gray;
    border-radius: 12px;
    padding: 12px;
}
.work__name{
    display: flex;
    font-size: 30px;
    padding-left: 20px;
    color: rgb(41, 41, 41);
}
.nums{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    margin-top: 20px;
}
.num{
    display: flex;
    flex-direction: column;
    width: 520px;
    background-color: rgb(57, 57, 57);
    border-radius: 12px;
    padding: 12px;
}
.num__name{
    display: flex;
    padding-left: 20px;
    font-size: 20px;
}
.num__case{
    display: flex;
    width: 100%;
    padding: 0 5% 0 5%;
    margin-top: 20px;
    column-gap: 20px;
    margin-bottom: 20px;
}
.case__img{
    width: 40%;
}
.num__ans{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
    margin-top: 20px;
    align-items: center;
    padding: 0 5% 0 5%;
    row-gap: 10px;
}
.ans__sol{
    color: rgb(183, 183, 183);
}
.ans__input{
    display: flex;
    column-gap: 70px;
}
.ans__file{
    border-radius: 0px;
}
.form__submit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.submit{
    display: flex;
    width: 200px;
    height: 50px;
    font-size: 24px;
}