.sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.classes{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    column-gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    background-color: gray;
    margin-top: 30px;
    border-radius: 24px;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;

}
.class__num{
    width: 85%;
    margin-top: 20px;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 200px;
    background-color: rgb(253, 238, 210);
    border-radius: 12px;
    padding: 10px;
    color: black;
}
.user__name{
    display: flex;
    margin: 2px;
}
.user__lastname{
    display: flex;
    margin: 2px;
}
.user__mark{
    display: flex;
    margin: 2px;
}
.user__png{
    display: flex;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.class{
    display: flex;
    row-gap: 20px;
    column-gap: 33px;
}
.add__users{
    display: flex;
    flex-direction: column;
    width: 20%;
    row-gap: 10px;
}
.work__sub{
    margin-top: 20px
}
.submit{
    display: flex;
    background-color: black;
    border-color: black;
    border-radius: 12px;
    padding: 3px;
   
}