.works__sec{
    display: flex;
    
    flex-direction: column;
    align-items: center;

}
.works{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
    background-color: grey;
    border-radius: 12px;
    flex-wrap: wrap;
    column-gap: 40px;
    padding: 20px;
    row-gap: 30px;

}
.works__p{
    width: 90%;
    margin-top: 30px;
}
.work{
    width: 275px;
    padding: 20px;
    background-color: rgb(253, 238, 210);
    border-radius: 12px;
    
}
.work__name{
    color: black;
}
.work__nums{
    color: black;
}
.work__mark{
    color: red;
}
.work__date{
    color: black;
}

.class__works{
    display: flex;
}
